@page "/"
@rendermode InteractiveServer
@using Simulation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
@* 
Welcome to your new app.
<button @onclick="startSimulation">start</button>

@foreach(var node in nodes) {
    <div>
        @node.Id
    </div>
}

@code {
    List<SimulationNode>? nodes = [];

    void startSimulation() {
        //he doesn't want references to the exact node because we want the abstraction through the simulation
        var node1 = new Node([], 1); //does this mean new Server in my code?
        var node2 = new Node([], 2);
        var node3 = new Node([], 3);

        var simulation1 = new SimulationNode(node1);
        var simulation2 = new SimulationNOde(node2);
        var simulation3 = new SimulationNode(node3);

        node1.OtherNodes = [simulation2, simulation3];
        node2.OtherNodes = [simulation1, simulation3];
        node3.OtherNodes = [simulation1, simulation2];

        nodes = [simulation1, simulation2, simulation3]
    }
} *@