@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
@if (Urls is not null) {
    foreach (var url in Urls) {
        <p>Url @url</p>
    }
}

Welcome to your new app. This front end shows node status 

@code {
    string[] Urls = Environment.GetEnvironmentVariable("NODE_URLS").Split(',');

    protected override void OnInitialized() {
        Console.WriteLine("Loading page, trying to parse urls");
        Console.WriteLine("Urls has count " + Urls?.Count() ?? "null");
    }
}
